.triangle-grey-white {
  border-top-width: 250px;
  border-right-width: 100vw;
  border-bottom-width: 0px;
  border-left-width: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
  position: relative;
  z-index: 4;
  border-top-color: #ffffff;
  margin-bottom: 0px;
}

.triangle-white-grey {
  border-top-width: 0px;
  border-right-width: 100vw;
  border-bottom-width: 250px;
  border-left-width: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  position: relative;
  z-index: 1;
  border-bottom-color: #f6f6f6;
}

.triangle-white-grey2 {
  border-top-width: 0px;
  border-right-width: 100vw;
  border-bottom-width: 250px;
  border-left-width: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  position: absolute;
  z-index: 1;
  border-bottom-color: #ffffff;
  bottom: 0px;
}

.triangle-grey-white-about {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 250px;
  border-left-width: 100vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-color: transparent !important;
  position: absolute;
  z-index: 1;
  border-bottom-color: #ffffff;
  bottom: 0px;
}

@media (max-width: 1024px) {
  .triangle-grey-white {
    border-top-width: 80px;
    border-right-width: 100vw;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-bottom: 50px;
  }

  .triangle-white-grey {
    border-top-width: 0px;
    border-right-width: 100vw;
    border-bottom-width: 80px;
    border-left-width: 0px;
  }

  .triangle-white-grey2 {
    border-top-width: 0px;
    border-right-width: 100vw;
    border-bottom-width: 80px;
    border-left-width: 0px;
  }

  .triangle-grey-white-about {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 80px;
    border-left-width: 100vw;
  }
}
