.web-header {
    height: 300px;

    h1 {
        margin-top: 150px;
    }
}

.flexdesign {
    display: flex;
    height: auto;

    h2 {
        color: color(subprimary);
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .text-rightdesign {
        flex: 1;
        background-color: color(backgroundcolor);
        padding: 100px;
        
        p {
            padding: 20px;
        }
    }
    
    .design-img {
        flex: 1;
        position: relative;
        margin: 0 auto;
        margin-top: 0px;
        overflow: hidden;
        object-fit: cover;
        background-color: color(backgroundcolor);

        video {
            height: 100%;
            opacity: 1;
            position: absolute;
            left: -100px;
            
            transition: ease 2s; 
            
        }
    }
    
    .text-leftdesign {
        flex: 1;
        background-color: color(backgroundcolor);
        padding: 100px;

        p {
            padding: 20px;
        }
    }
}

@media (max-width: 1530px) {
    .flexdesign {
        display: flex;
    }
}

@media (max-width: 1190px) {
    .flexdesign {
        display: flex;
    }
}

@media (max-width: 1100px){
    .flexdesign {
        flex-direction: column;
    }
    .flip {
        flex-direction: column-reverse;
    }
    .flexdesign .design-img {
        left: 0;
        width: 100%;
        margin-top: 0;
    }
    .flexdesign p {
        margin: 30px;
    }
    .text-rightdesign {
        margin-top: 0px;
    }

    .flexdesign .design-img video {
        height: auto;
        opacity: 1;
        position: absolute;  
        width: 100%;
        right: 0;
        left: auto;
    }

    .flexdesign .text-leftdesign {
        padding: 100px 10px 100px 10px;
    }

    .flexdesign .text-rightdesign {
        padding: 100px 10px 100px 10px;
    }
}



@media (max-width: 700px) {
    .flexdesign p {
        margin: 10px; 
    }

    .web-header h1 {
        padding-left: 0;
    }

    .flexdesign .text-leftdesign {
        padding: 50px 10px 50px 10px; 
    }

    .flexdesign .text-rightdesign {
        padding: 50px 10px 50px 10px;
    }

    .flexdesign .design-img video {
        margin-bottom: 100px;
    }
}

@media (max-width: 425px) {
    .web-header {
        height: 300px;  
    }

    .web-header h1 {
        margin-top: 0px;
        margin-top: 150px;
    }
}
