.triangle-grey-white {
  border-width: 250px 100vw 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
  position: relative;
  z-index: 4;
  border-top-color: color(backgroundcolor);
  margin-bottom: 0px;
}

.triangle-white-grey {
  border-width: 0 100vw 250px 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  position: relative;
  z-index: 1;
  border-bottom-color: color(primary);
}

.triangle-white-grey2 {
  border-width: 0 100vw 250px 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  position: absolute;
  z-index: 1;
  border-bottom-color: color(backgroundcolor);
  bottom: 0px;
}

.triangle-grey-white-about {
  border-width: 0 0 250px 100vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-color: transparent !important;
  position: absolute;
  z-index: 1;
  border-bottom-color: color(backgroundcolor);
  bottom: 0px;
}

@media (max-width: $tablet-max) {
  .triangle-grey-white {
    border-width: 80px 100vw 0 0;
    margin-bottom: 50px;
  }

  .triangle-white-grey {
    border-width: 0 100vw 80px 0;
  }

  .triangle-white-grey2 {
    border-width: 0 100vw 80px 0;
  }

  .triangle-grey-white-about {
    border-width: 0 0 80px 100vw;
  }
}
